<html>
  <head>
    <title>
      <%= status %>An error occured
    </title>
  </head>
  <body>
    <div class="bg-light">
      <h1 style="color: red;">
        An error occured: <%= message %>
      </h1>
    </div>
  </body>
</html>
